<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Bluetooth</key>
	<string></string>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>

	<key>NSCameraUsageDescription</key>
	<string>You can take photos to document your job.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>You can select photos to attach to reports.</string>
<!--	-->
<!--	<key>NSCameraUsageDescription</key>-->
<!--	<string>${PRODUCT_NAME} Camera Usage</string>-->

	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Allow Bluetooth</string>
	
<!--	<key>NSCalendarsUsageDescription</key>-->
<!--	<string>${PRODUCT_NAME} Calendar Usage</string>-->

<!--	<key>NSContactsUsageDescription</key>-->
<!--	<string>${PRODUCT_NAME} Contact fetch</string>-->

<!--	<key>NSHealthShareUsageDescription</key>-->
<!--	<string>${PRODUCT_NAME} Health Description</string>-->
<!--	-->
<!--	<key>NSHealthUpdateUsageDescription</key>-->
<!--	<string>${PRODUCT_NAME} Health Updates</string>-->
<!--	-->
<!--	<key>NSHomeKitUsageDescription</key>-->
<!--	<string>${PRODUCT_NAME} HomeKit Usage</string>-->
<!--	-->
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Use location always</string>
	
	<key>NSLocationUsageDescription</key>
	<string>Location Updates</string>
	
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>WhenInUse Location</string>
	
	<key>NSAppleMusicUsageDescription</key>
	<string>Music Usage</string>
	
	<key>NSMicrophoneUsageDescription</key>
	<string>Microphone Usage</string>
<!--	-->
<!--	<key>NSMotionUsageDescription</key>-->
<!--	<string>${PRODUCT_NAME} Motion Usage</string>-->

<!--	<key>kTCCServiceMediaLibrary</key>-->
<!--	<string>${PRODUCT_NAME} MediaLibrary Usage</string>-->

	<key>NSPhotoLibraryUsageDescription</key>
	<string> PhotoLibrary Usage</string>
	
<!--	<key>NSRemindersUsageDescription</key>-->
<!--	<string>${PRODUCT_NAME} Reminder Usage</string>-->
<!--	-->
<!--	<key>NSSiriUsageDescription</key>-->
<!--	<string>${PRODUCT_NAME} Siri Usage</string>-->

	<key>NSSpeechRecognitionUsageDescription</key>
	<string>Speech Recognition Usage</string>
	
<!--	<key>NSVideoSubscriberAccountUsageDescription</key>-->
<!--	<string> Video Subscribe Usage</string>-->



</dict>
</plist>
